*.pyc
*.pyo
*.tmp_config
*.aux
*.swp
*.swo
.~*
/.tox
/coverage.xml
/result.xml
.coverage
../*
_*.lock
.git/*
.ropeproject
.cache
/experiments
/build
dev/*
/config/
log
versions/*
gs_test*.png
.exclude.list
bundle_version.sh
ver_upgrade.py
GIT_HELP
/.idea
nohup.out
data/config/rpc.admin
/htmlcov
/Scan_o_Matic.egg-info
/docker-compose.override.yml
/scanomatic/ui_server_data/js/somlib
/scanomatic/ui_server_data/coverage
geckodriver.log
/node_modules
/data/config/mac_address.config
/.vscode
*.orig
.env
/.*_cache
